body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
  background-image: linear-gradient(to left, rgba(255,128,0,.6), rgba(255,255,255,.3));
}

#cartes-container{
  position: relative;
  height: 65vh;
  overflow: auto;
}

#cartes-container::-webkit-scrollbar {
  width: 0;
}

#cartes-container>p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.carte-client {
  display: flex;
  margin: 10px 15px; 
  border-radius: 5px;  
}

.client-infos{
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  box-shadow: inset 5px 5px 15px rgba(0,0,0,.2),
  inset -5px -5px 15px rgba(255,255,255,.2),
  5px 5px 15px rgba(0,0,0,.10),
  -5px -5px 15px rgba(255,255,255,.10);
}

.client-infos:active{
  box-shadow: inset 5px 5px 15px rgba(0,0,0,.2),
  inset -5px -5px 15px rgba(255,255,255,.2)
}

.client-infos small{
  margin-left: 20px;
}

.client-infos h3{
  margin: 5px 0 10px 20px;
  width: 100%;
}

h1{
  text-align: center;
  margin: 10px 0;
}

.carte-client > span {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -5px;
  z-index: 1;
}

.carte-client > span::before{
  content: "";
  position: absolute;
  display: block;
  height: 35px;
  width: 35px;
  background-image: linear-gradient(to left, rgba(255,128,0,.6), rgba(255,255,255,.3));
  border-radius: 50%;
  z-index: -1;
  box-shadow: inset 5px 5px 15px rgba(0,0,0,.5),
  inset -5px -5px 15px rgba(255,255,255,.5),
  5px 5px 15px rgba(0,0,0,.15),
  -5px -5px 15px rgba(255,255,255,.15);
}

header {
  text-align: center;
  padding: 20px 20px 0; 
}

header > img {
  max-width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 15px 0 15px;
  border: 3px rgba(255,128,0,.2) solid;
  box-shadow: 5px 5px 15px rgba(0,0,0,.9),
  -5px -5px 15px rgba(255,128,0,.9);
}

header > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header > div > picture:first-child{
  visibility: hidden;
}

picture img{
  filter: brightness(0) saturate(100%);
  filter: drop-shadow(3px 3px 15px rgba(0,0,0,.9));
  height: 30px;
  width: 30px;
}

picture a>img:hover{
  scale: 1.5;
  cursor: pointer;
}

@media screen and (min-width: 1080px) {
  #cartes-container{
    width: 40%;
    margin: auto;
    scrollbar-color: transparent transparent;
  }

  #cartes-container::-webkit-scrollbar {
    width: 0;
  }

  picture img{
    filter: brightness(0) saturate(100%);
    filter: drop-shadow(3px 3px 15px rgba(0,0,0,.9));
    height: 40px;
    width: 40px;
  }
  
}


  